body
{
    background-color: #222;
    min-height: 100vh;
    display: flex
}
.container1st
{
    background-color: white;
    width: 400px;
    height: 518px;
    margin: 45px;
}
button1
{
    width: 2px;
}