body
{
    background-color:#181818;
    
    min-height: 100vh;
    display: flex; 
}
@media all and (max-width: 700px){
    body {  
        display:block;
    }
}
@media
{
.all-cards
{
    text-align: center;
}
}
.container1st
{
    background-color: white;
    width: 400px;
    height: 518px;
    margin: 45px;
    border-radius: 50% 50%, 50% 50%, 50% 50%, 50% 50%,;
}
button1
{
    width: 2px;
}